@font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
}

@font-face {
    font-family: 'Airbnb Cereal App Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.woff') format('woff');
}

/* ///////////////////--Link Setup--//////////////////////// */
.beranda {
    width: 30px;
    height: 30px;
    background-color: #f24f8b00;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    z-index: 5;
    top: -3px;
    left: 20px;

}

.histo {
    width: 30px;
    height: 35px;
    background-color: #01ff5600;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 2px;
}

.menuhome {
    width: 30px;
    height: 35px;
    background-color: #01ff5600;
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 2px;
}

/* Disable some item */
/* .mascot {
    display: none;
} */

/* ///////////////////////////////----Checkout Menu------//////////////////////////////////////////////////////////////////////////////////////// */

.checkout-menu {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.checkout-menu .blocking {
    background-color: white;
    position: relative;
    border-radius: 5px;
    width: 476px;
    height: 478px;
    margin: 65px auto;
}

/* ////////////////////////////////////////---Form Checkout---///////////////////////////////////////////////////////////////////////////////// */
.checkout-menu .blocking .form {
    position: absolute;
    margin-top: 20px;
    width: 92%;
    height: 320px;
    left: 5%;
}

.checkout-menu form {
    font-family: 'Airbnb Cereal App Medium', Arial, sans-serif;
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

table,
tr,
td {
    position: relative;
}

.checkout-menu tr:nth-of-type(1) {
    top: -10px;
}

.checkout-menu tr:nth-of-type(2) {
    top: -10px;
}

.checkout-menu tr:nth-of-type(10) {
    top: -5px;
}

.checkout-menu tr:nth-of-type(9) td:nth-last-of-type(2) {
    text-align: right;
    left: 90px;
}

.checkout-menu td:nth-of-type(1) {
    text-align: left;
    width: 247.92px;
    height: 31.5px;
}

.checkout-menu td:nth-of-type(2) {
    text-align: right;
    width: 190px;
    height: 31.5px;
}



/* ////////////////////////////////////////---Button---///////////////////////////////////////////////////////////////////////////////// */
.btn-gate2 {
    position: absolute;
    width: 90%;
    height: 110px;
    left: 5%;
    bottom: 15px;
}

.send-button {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
}

.send-button .button {
    font-size: 20px;
    width: 100%;
    height: 40px;
    background-color: #57CAD5;
    border-radius: 5px;
}

.print-button {
    position: absolute;
    height: 40px;
    width: 100%;
}

.print-button .button {
    font-size: 20px;
    width: 100%;
    height: 40px;
    background-color: #F24F8A;
    border-radius: 5px;
}

.btn-gate2 p {
    font-size: 15px;
    position: absolute;
    z-index: 2;
    top: 43.5px;
    left: 47.5%;
}

.exit {
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 78;
    top: -15px;
    right: 0;
}

.exit:hover,
.exit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.trigger button {
    display: none;
}

/*///////////////////////////////---Responsive---////////////////////*/
@media (max-width: 768px) {
    .trigger button {
        display: block;
        position: fixed;
        width: 20px;
        height: 5px;
        background-color: #83ff2500;
        border: #38810000;
        z-index: 80;
        bottom: 24.6px;
        right: 54px;
    }

    .side-right {
        display: flex;
    }

    .wishlist,
    .text-total {
        display: none !important;
    }

    .btn-gate {
        border: 1px solid rgb(241, 5, 5);
        position: absolute;
        z-index: 20;
    }

    .check-button {
        position: absolute !important;
        width: 40px;
        height: 40px;
        padding: 0 !important;
        font-size: 0px;
        margin: 0 !important;
        top: 100px;
        left: -10px;

    }

    .cancel-button {
        display: none;
    }

    .checkout {
        width: 25px;
        height: 10px;
        position: absolute;
        /* margin: -1400px 0; */
        border: 1px solid rgb(9, 255, 0);
        top: -1095px;
        left: 25px;
    }

    .cart {
        position: absolute;
        width: 25px;
        height: 10px;
        left: 70px;
        margin-bottom: 3.5px;
        margin-left: -1px;
        background-color: #F24F8A;
        color: rgba(255, 255, 255, 0);
    }

    .cart span {
        position: absolute !important;
        left: -30.5px;
        top: -4px;
    }


}


@media (max-width: 576px) {
    .checkout-menu .blocking {
        position: relative;
        width: 340px;
        height: 80%;
        overflow: auto;
    }

    .checkout-menu .blocking .form {
        margin-top: 20px;
        width: 95%;
        height: 330px;
        left: 2.3%;
    }

    /*///////////////////////////////---button---////////////////////*/
    .btn-gate2 {
        height: 95px;
        width: 75%;
        left: 12.5%;
        position: absolute;
        top: 370px;
    }

    .send-button {
        height: 35px;
    }

    .send-button .button {
        font-size: 15px;
        height: 35px;
    }

    .print-button {
        height: 35px;
    }

    .print-button .button {
        font-size: 15px;
        height: 35px;
    }

    .btn-gate2 p {
        font-size: 14px;
        top: 36.5px;
        left: 45%;
    }

    /*///////////////////////////////---form checkout---////////////////////*/
    .checkout-menu td:nth-of-type(1) {
        font-size: 13px !important;
        width: 217.92px;
        height: 32px;
    }

    .checkout-menu td:nth-of-type(2) {
        font-size: 13px !important;
        width: 190px;
        height: 32px;
    }

    .checkout-menu tr:nth-of-type(9) td:nth-last-of-type(2) {
        left: 40px;
    }

    .checkout-menu tr:nth-of-type(1) td:nth-last-of-type(1) {
        font-size: 10px !important;
    }

    .checkout-menu tr:nth-of-type(1) td:nth-last-of-type(2) {
        top: 3px;
        font-size: 20px !important;
    }

    .checkout-menu tr:nth-of-type(2) td:nth-last-of-type(1) {
        font-size: 10px !important;
    }

    .checkout-menu tr:nth-of-type(10) {
        top: 10px;
    }

    /* //<button id="checkout"class="button */

    .kontainer-kosong {
        z-index: 40;
    }
}